.ADT_cont {
     display: flex;
     flex-direction: column;
     align-items: center;     
     width: 100%;
     min-width: 100%;
     height: calc(100vh - 28px);     
     background-color: #334155;
     overflow-y: hidden;
     overflow-x: hidden;
     position: absolute;
     top:28px;
     left: 0;
}
.ADT_cont-header{
     width: 100vw;
     height: 80px;
     background-color: #040404;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
}
.ADT_cont-header-logo{
     padding-left: 30px;     
     height: 80%;
}

.ADT_cont-cards {
     display: flex;
     flex-direction: column;
     align-items: center;
     min-width: 100% !important;
     width: 100%;
     height: calc(100vh - 108px );     
     overflow-y: hiden;
     background-color: #111827;
}

.ADT_cont-cards-select{
     width: 95%;     
     height: 90px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.ADT_cont-cards-select-inp{
     width: 35%;     
     height: 40px;
     padding-left: 4px;
     border-radius: 2px;
     color: #e2e8f0;
     font-weight: 600;
     background-color: rgba(79, 175, 182, 0.308);
}

.ADT_cont-cards-select-inp-item{
     color: #fff;
     text-transform: capitalize;
     width: 100%;
     height: 30px;
     padding: 0 5px;
     line-height: 30px;
     cursor: pointer;
     background-color: rgba(63, 157, 160, 0.849);
 }
 
.ADT_cont-cards-select-inp-item:hover{
     background-color: #334155;
}





.ADT_cont-cards-select-add{
     width: 30px;     
     height: 30px;
     font-size: 30px;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
}
.ADT_cont-cards-despl{
     width: 96%;
     height: calc(100vh - 80px - 90px  );
     margin: 0 auto;
     overflow-y: auto;
     overflow-x: hidden;
     background-color: #111827;
}

.textoCentrado{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 18px;
     color: #fff;
     font-weight: 600;
     flex-direction: column;
}

.addSesionInitial{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.txtAddSesion{
     color: #FFF;
     width: 100%;
     display: flex;
     justify-content: center;     
}

.inputAddSesion{
     width: 80px;
     height: 30px;
     margin: 4px auto;
}


.slideSelected{
     background-color: #1a9b69 !important;
}

.idExplode{
     font-family: 'Courier New' !important;
     font-size: 10px !important;
     color: #e65656;
}