.modalSlidesSeleccionables{
     width: 100%;
     height: 100%;     
     position: fixed;
     left: 0;
     top: 28px;
     z-index: 10000000;
     overflow-y: auto;
     backdrop-filter: blur(4px);
     display: flex;
     justify-content: center;
     align-items: center;
     color: #FFF;
}

.modalSlidesSeleccionables-desp{
     width: 1100px;
     height: 600px;
     background-color: #334155;
     border: 1px solid #e2e8f0;
     border-radius: 5px;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.849), 0 4px 6px -4px rgb(0 0 0 / 0.8);
     padding: 25px;
     position: relative;
}

.reg_slide{
     width:360px;
     height: 40px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background-color: rgb(46, 94, 108);
     padding-left: 20px;
     margin: 6px
}

.reg_slideCode{
     font-size: 12px;
     margin-right: 10px;
     font-weight: 400;
     color: rgb(164, 232, 226);
}

.slideSeleccionado{
     background-color: rgb(189, 78, 78);
}

.regOpcionMenu{
     background-color: rgb(172, 218, 255);
     margin-top: 4px;
     margin-left: 20px;
     position:relative;
     width: 90%;
     height: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 14px;
     padding-left: 10px;
}

.inputEditModal{
     color:rgba(0, 0, 0, 0.849)
}

.regOpcionMenu3{
     background-color: rgb(253, 220, 6);
     margin: 4px auto;
     position:relative;
     width: 250px;
     height: 35px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.contOptionsMenu{     
     width: 90%;
     margin-left:20px;
     display: flex;
     margin-top: 6px;
     border-bottom: 1px dashed rgb(147, 147, 147);
     padding-bottom: 4px;
     margin-bottom: 15px;
}

.contOptionsMenu-selectSlide{
     width: 130px;
     background-color: rgb(255, 220, 210);
     display:flex;
     justify-content: space-around;
     align-items: center;
     border-radius: 4px;
     font-size: 14px;
     font-weight: 600;
}
.contOptionsMenuSaveOption{
     background-color: rgb(121, 215, 104);
     width: 140px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 4px;
     font-size: 14px;
     font-weight: 600;
     color: #000;
     margin-left: 15px;

}

.contOptionsMenuSaveOption-icon{
     color: #fff !important;
}

.btnEditMenu{
     background-color: rgb(192, 231, 198);
     width: 25px;
     height: 25px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 2px solid rgb(38, 128, 36);
}

.btnDeleteMenu{
     background-color: rgb(255, 176, 176);
     width: 25px;
     height: 25px;
     border-radius: 4px;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 2px solid rgb(73, 13, 13);
     color: rgb(73, 13, 13);
}

.btnsOpcionMenu{
     width: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-right: 5px;
}