.contImagen{
     width: 90%;
     height: 95px;
     background-color: #fff;
     margin: 0 auto 30px auto ;     
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.input-imagen{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
}


.input-imagen + label {
     width: 140px;
     height: 55px;
     font-size: 14px;
     font-weight: 700;     
     white-space: nowrap;
     cursor: default;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;     
     margin: 0 auto;
     background-color: #128877;
 }

.previewImg{
    background-color: #fff;
    width: 200px;
    height: 90px;   
    border: 1px dotted rgb(23, 48, 94);  
}

 .img-prev{
    width: 200px;
    height: 90px;
    object-fit: cover;
 }

.seleccionaCorrectoRadioImagen{
    width:30px;
    height: 30px;
    background-color: rgb(214, 214, 214);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(214, 214, 214);
    margin-left: 20px;
    margin-top: -25px;	
}



.editTlt{
    color: #FFF;    
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    font-weight: 600;
}
.input-titulo{
    width: 90%;
    height: 30px;
    margin-left: 20px;        
    background-color: #fff;    
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.caja-texto{
    width: 90%;
    height: 100px;
    margin-left: 20px;    
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    outline: none;
    resize: none;
}

.resetImageBtn{
    color:rgb(253, 93, 82);
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 20px;
}
.resetImageBtn:hover{
    color:rgb(158, 37, 29)
}

.flexionando{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}