@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

.undraggable {
    -webkit-app-region: no-drag;
  }

body{
  -webkit-user-select: none;
	cursor: default;
}

@font-face {
	font-family: 'Nunito';
	src: url('./assets/fonts/Nunito-Medium.ttf');
}

input, select{
  outline: none;
}
	